.hero {
    background-color: var(--color-surface-alt);
    background-image: linear-gradient(to right, var(--color-surface) 0%, var(--color-surface-alt) 40%, transparent 100%), url('/research/assets/images/keyboard.png');
    background-size: contain;
    background-position: center right;
    background-repeat: no-repeat;
}